<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738932588580-ni79hs4mr1unmgc202l5tlqcu1maithp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738932588580-ni79hs4mr1unmgc202l5tlqcu1maithp</string>
	<key>API_KEY</key>
	<string>AIzaSyCI135ixeRsm094nkI1aOudgJBdoPoVWoY</string>
	<key>GCM_SENDER_ID</key>
	<string>738932588580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.jeoparty.jeoparty.ios</string>
	<key>PROJECT_ID</key>
	<string>jeoparty-77ade</string>
	<key>STORAGE_BUCKET</key>
	<string>jeoparty-77ade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738932588580:ios:1e77c946e06f0580a858b1</string>
</dict>
</plist>