body {
  background-color: #060530;
}
h1 {
  color: #E6DAB0;
  font-family: "Avenir Next Bold", sans-serif;
  font-size: 30
}
p {
  color: white;
  font-family: "Avenir Next Bold", sans-serif;
  font-size: 20px;
}
.center {
  margin: auto;
  min-width: 200px;
  max-width: 400px;
  padding: 10px;
}
.button {
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-family: "Avenir Next Demi Bold", sans-serif;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {background-color: #293669}
.cardLike {
  margin: auto;
  text-align: center;
  padding: 20px;
  font-family: "Avenir Next Bold", sans-serif;
  font-size: 30;
  color: #E6DAB0;
  background-color: #293669;
  border: none;
  border-radius: 10px;
}
.textField {
  color: white;
  font-family: "Avenir Next Bold", sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
}
div.padding {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 25px 35px;
  border: 1px solid white;
  border-radius: 5px;
}
input[type=text] {
  font-family: "Avenir Next Bold", sans-serif;
  font-size: 15px;
  padding: 12px 12px;
  margin: 20px 10;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
}
